HOST=nombre-de-dominio
LOCAL_IP=192.168.0.2

# ver https://github.com/moodle/moodle
MOODLE_BRANCH_VERSION=MOODLE_502_STABLE
DISABLE_MOODLE_GIT_CLONE=false

UPSTREAM_DNS_1=1.1.1.1
UPSTREAM_DNS_2=1.0.0.1

PROXY_HTTP_PORT=80
PROXY_HTTPS_PORT=443
PROXY_DASHBOARD_PORT=8080